@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}


.float_text {
	width: 205px;
	float: left;
}

.float_text{
	margin-right: 50px;
}

.float_text:last-child {
	margin-right: 0;
}


.table {
	display: table;
}

.table_text {
	display: table-cell;
	vertical-align: middle;
	padding-left: 50px;
}

.table_text:first-child {
	padding-left: 0;
}

.text {
	width: 205px;
}


.block_box {
	font-size: 0;
}

.block {
	width: 205px;
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}

.block:first-child {
	margin-right: 50px;
}

.flex {
	width: 205px;
}

.flex_box {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.text_wrapper {
	font-size: 0;
}

.left_box {
	width: 300px;
	display: inline-block;
}

.right_box {
	width: 100%;
	margin-left: -300px;
	padding-left: 350px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}

.text_box {
	font-size: 16px;
}

/*.text_box_left {
	display: inline-block;
	width: 300px;
}

.text_box_right {
	margin-left: -300px;
	padding-left: 350px;
	box-sizing: border-box;
	width: 100%;
	display: inline-block;
}

.right_text, .left_text {
	font-size: 16px;
}
*/
/* 回答はここに書いてね */
