@charset "UTF-8";

/* 回答はここに書いてね */

.food {
	width: 100%;
	margin: 0 auto;
	table-layout: fixed;
	text-align: center;
}

.food th{
	padding: 10px 0;
	background-color: #2244aa;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
}

.food td{
	font-size: 16px;
	line-height: 22px;
}

.food td, .food th{
	border:1px solid #dedede;
}

.food tr:nth-child(even){
	background-color: #ecf1f2;
}

.food tr:last-child {
	border-top: 2px dashed #000;
}

.food tr:first-child {
	border-top: none;
}


/* 回答はここに書いてね */
